Checks: >
  -*,
  clang-analyzer-*,
  cert-*,
  performance-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
WarningsAsErrors: "*"
HeaderFilterRegex: "*"
FormatStyle: none
